$background-soda:linear-gradient(0deg, #000000, #ed1c16, #FFFFFF);

body {
    background: $background-soda;
}

* {
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: space-between;
}